<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<!--
- Author: João Paulo de Souza Medeiros <ignotus21 [at] gmail [dot] com>
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Luiz Paulo de Assis Barbosa</title>
  <style type="text/css">
    @import '../static/css/standard.css';
  </style>
</head>

<body>

  <!-- This div represents the top of the page -->

  <div class="topc">
    <h1>Prof. Luiz Paulo de Assis Barbosa</h1>
    <h4>(last update, Sun April 07 11:22:27 UTC 2024)</h4>
  </div>

  <div class="menu">
    <a href="/~lpab">[home]</a> -
    <a href="students">[students]</a> -
    <a href="projects">[projects]</a> -
    <a href="courses">[courses]</a> -
    <a href="material">[material]</a>
  </div>

  <!-- This div represents the body of about -->

  <div class="body">

    <img src="../static/img/photo.jpeg" width="125" height="125" class="photo" alt="[photo]"/>

    <b>Name:</b> Luiz Paulo de Assis Barbosa<br/>
    <b>Institution:</b> Federal University of Rio Grande do Norte (UFRN)<br/>
    <b>Location:</b>
      Rua Joaquim Greg&oacute;rio, S/N.
      Penedo, Caic&oacute;/RN, CEP 59300-000. Brazil<br/>
    <b>E-mail:</b> <br/>
    <b>Curriculum:</b>
      <a href="http://lattes.cnpq.br/0176620407993556"
        class="external">Lattes (CNPq)</a>,
    <br/>

    BSc. in Eletrical Engineering, 2006 (UFCG)<br/>
    MSc. in Electrical Engineering 2008 (UFCG)<br/>

    <!-- This div represents the body of the page -->

    Professor of the Universidade Federal do Rio Grande do Norte
    (<a href="http://www.ufrn.br/" class="external">UFRN</a>)
    in the Centro de Ensino Superior do Seridó
    (<a href="http://www.cerescaico.ufrn.br/" class="external">CERES</a>)
    at the Departamento de Computação e Tecnologia
    (DCT).
    Founder of the Elements of Information Processing Laboratory
    (<a href="http://labepi.cerescaico.ufrn.br/" class="external">LabEPI</a>).
    The main research topics are: Eletrical Engineering, Automation and Control, Embedded Systems, Computer Engineering and Signal Processing. <br/>

    <br/>

    <h3 class="topic">Projects</h3>

    <br/><br/>

    <h3 class="topic">Publications</h3>

      <div class="content">
        
      <h4>Conference papers</h4>

      <ol>

        <li>
            BORGES, JOAO BATISTA ; MEDEIROS, JOAO P. S. ; <b>BARBOSA, LUIZ P. A.</b> ; RAMOS, HEITOR S ; LOUREIRO, ANTONIO A . IoT Botnet Detection based on Anomalies of Multiscale Time Series Dynamics. IEEE TRANSACTIONS ON KNOWLEDGE AND DATA ENGINEERING, v. E, p. 1-1, 2022.
        <br/>

        <a class="external"
            href="http://dx.doi.org/10.1109/tkde.2022.3157636">[doi]</a>

        </li>

        <li>
            <b>BARBOSA, L. P. A.</b>; GURJAO, E. C. ; ASSIS, F. M. . Power Spectrum Detection Using Clustering. In: XXXV Simpósio Brasileiro de Telecomunicações, 2017, São Pedro - SP. Anais do XXXV Simpósio Brasileiro de Telecomunicações, 2017. 
        <br/>

        <li>

            <b>BARBOSA, L. P. A.</b>; ASSIS, F. M. ; GURJAO, E. C. . Método de Seleção Automática de Spikes Baseado em Algoritmos de Agrupamento. In: XXXIV Simpósio Brasileiro de Telecomunicações, 2016, Santarém. Anais do SBRT 2016, 2016. 
        <br/>
        </li>

        <li>
            <b>Luiz Paulo de Assis Barbosa</b>; Kyller Gorgônio ; Antônio Marcus Nogueira Lima ; Angelo Perkusich ; Leandro Dias da Silva . On the automatic generation of timed automata models from ISA 5.2 diagrams. In: 12th IEEE Conference on Emerging Technologies and Factory Automation, 2008, Patras. Proceedings of 12th IEEE Conference on Emerging Technologies and Factory Automation. Piscataway, NJ, USA: IEEE Industrial Electronics Society, 2008. v. 1. p. 406-412. 
        <br/>
        <a class="external"
           href="http://dx.doi.org/10.1109/EFTA.2007.4416796">[doi]</a>
        </li>

        <li>

            Leandro Dias da Silva ; <b>Luiz Paulo de Assis Barbosa</b> ; Kyller Gorgônio ; Angelo Perkusich ; Antônio Marcus Nogueira Lima . On the Automatic Generation of Timed Automata Models from Function Block Diagrams for Safety Instrumented Systems. In: 34th Annual Conference of the IEEE Industrial Electronics Society, 2008, Orlando. Proceedings of the 34th Annual Conference of the IEEE Industrial Electronics Society, 2008. 
        <br/>
        </li>

        <li>

            Leandro Dias da Silva ; <b>Luiz Paulo de Assis Barbosa</b> ; Kyller Gorgônio ; Angelo Perkusich ; Antônio Marcus Nogueira Lima . Geração Automática de Autômatos Temporizados para Diagramas de Blocos Funcionais. In: XVII Congresso Brasileiro de Automática, 2008, Juiz de Fora. Anais do XVII Congresso Brasileiro de Automática, 2008. 
        <br/>
        </li>

      </ol>

  </div>

  <!-- This div represents the foot -->

  <div class="foot">

    <h3 class="topic"></h3>

    <p>
      <a href="http://validator.w3.org/check?uri=referer"><img
         src="http://validator.w3.org/images/valid_icons/valid-xhtml10"
         alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
      <a href="http://jigsaw.w3.org/css-validator/check/referer"><img
         style="border:0;width:88px;height:31px"
         src="http://jigsaw.w3.org/css-validator/images/vcss"
         alt="Valid CSS!" /></a>
    </p>

  </div>

</body>

</html>
